<div class="description dl45">

<h2>Exception Notifications. One at a time.</h2>

<p>Set up Shooters to receive a message that gets emailed to you. Once a message has been sent, no more messages can be sent to you until you "Shoot" the current message. You can filter out messages you don't care about.</p>

<p>
  <ul>
    <li>Set up a Shooter to receive exceptions from your app</li>
    <li>Post a Payload, Receive an Email</li>
    <li>Shoot it when you're done.</li>
    <li>Don't care? Write a filter.</li>
  </ul>
</p>

<h3>Why?</h3>

<p>There are two types of exceptions:</p>

<ol>
  <li>Those you don't care about.</li>
  <li>Those that shouldn't happen. <strong>Exceptions</strong>, duh!</li>
</ol>

<p>Shooter forces you to focus on one exception at at time. Once you've fixed the issue, you should no longer care about it, and you can "Shoot It", elsewhere.</p>



</div>

<div class="signup dl25">

  <h2>Sign In</h2>

  <%= render 'user_sessions/form' %>

  <p>Don't have an account? <%= link_to "Sign Up", new_user_path %></p>

</div>